<app-top></app-top>


<section class=" sobre-nos  ">
    <div class="container-alinhado">
        <div class="caixa-textos">
            <div class="titulos-caixa">
                <h1 class="titulo-caixas">Sobre nós</h1>
            </div>
            <p class="texto-caixas texto-sobre-nos" >
                Por que escolher a Cardopar? Nós oferecemos soluções que incorporam a tecnologia mais avançada do mercado, garantindo excelente qualidade a um preço acessível. Além disso, somos especializados em instalação e configuração de servidores, migração de sistemas e segurança.
            </p>
         


            <p class="texto-caixas texto-sobre-nos" style="margin-top:1em">Na Cardopar, nossa prioridade é a eficiência. Através da otimização dos seus recursos digitais, ajudamos você a reduzir custos e aumentar sua receita. Contar com a Cardopar é garantir mais eficiência para o seu negócio.


            </p>

            <button class="btn-acao">Lorem Ipsum</button>
        </div>
    </div>


    <div class="caixa-imagem">
        <img src="../../assets/img/img-desktops- (1).webp" alt="" class="imagem-sobre-nos" loading="lazy">
    </div>

</section>
<section class="passos  ">
    <div class="container-alinhado">


        <div class="caixa-passos-desktop">
            <div class="caixa-textos">

                <div class="titulos-caixa">
                    <h1 class="titulo-caixas">Iniciando seu atendimento</h1>
                    <h2 class="subtitulo-caixas">
                        Estamos aqui para ajudar a transformar suas ideias em realidade. Comece seu atendimento conosco e conte com nossa equipe em cada etapa do processo.
                    </h2>
                </div>
            </div>


            <div class="step-container-desktop">
                <button (click)="selectStep(1)" class="btn-passo" [ngClass]="{'active': currentStep === 1}"><span
                        class="numero-passo">1</span> Encontre o serviço desejado</button>
                <button (click)="selectStep(2)" class="btn-passo" [ngClass]="{'active': currentStep === 2}"><span
                        class="numero-passo">2</span> Fale com nossa equipe e solicite seu orçamento</button>
                <button (click)="selectStep(3)" class="btn-passo" [ngClass]="{'active': currentStep === 3}"><span
                        class="numero-passo">3</span>Finalize o atendimento</button>
            </div>
        </div>




        <div class="passos-flex">
            <div class="content">
                <div *ngIf="currentStep === 1" class="passo-item">

                    <div class="titulo-passo">Encontre o serviço desejado</div>
                    <div class="caixa-passo">
                        <div class="img-passo">
                            <img src="../../assets/img/passo1 (1).webp" alt="" loading="lazy">
                        </div>

                        <div class="texto-passo">
                            Aqui, o usuário pode explorar os diferentes serviços oferecidos pela empresa, escolhendo o que mais se adequa às suas necessidades.
                        </div>
                    </div>
                </div>

                <div *ngIf="currentStep === 2" class="passo-item">
                    <div class="titulo-passo">  Fale com nossa equipe e solicite seu orçamento.</div>
                    <div class="caixa-passo">
                        <div class="img-passo">
                            <img src="../../assets/img/passo2 (1).webp" alt="" loading="lazy">
                        </div>

                        <div class="texto-passo">
                            Uma vez que o usuário encontrou o serviço desejado, ele pode entrar em contato diretamente com a equipe, tirar dúvidas e solicitar um orçamento personalizado.
                        </div>
                    </div>
                </div>

                <div *ngIf="currentStep === 3" class="passo-item">
                    <div class="titulo-passo">Finalize o atendimento</div>
                    <div class="caixa-passo">
                        <div class="img-passo">
                            <img src="../../assets/img/Icon_Nuvem1 1.webp" alt="" loading="lazy">
                        </div>

                        <div class="texto-passo">
                            Após o orçamento ser aprovado e todas as questões resolvidas, o usuário pode concluir o atendimento e finalizar o processo.
                        </div>
                    </div>
                </div>
            </div>


            <div class="step-container step-container-passo">
                <button (click)="selectStep(1)" class="btn-passo" [ngClass]="{'active': currentStep === 1}">1</button>
                <button (click)="selectStep(2)" class="btn-passo" [ngClass]="{'active': currentStep === 2}">2</button>
                <button (click)="selectStep(3)" class="btn-passo" [ngClass]="{'active': currentStep === 3}">3</button>
            </div>



        </div>

    </div>



    <div class="btn-acao-centro">
        <button class="btn-acao">Lorem Ipsum</button>
    </div>

</section>


<section class="diferenciais">
    <div class="container-alinhado">
        <div class="caixa-textos">
            <div class="titulos-caixa">
                <h1 class="titulo-caixas">Nossos diferenciais</h1>
                <p class="subtitulo-caixas">
                    Desenvolvemos soluções inovadoras, focadas em resultados. Nosso time é comprometido com a excelência, sempre buscando melhorar os processos e entregar valor real aos nossos clientes. Acreditamos que o futuro é construído com a união entre tecnologia, criatividade e dedicação.
                </p>
            </div>
        </div>

        <div class="lista-diferenciais">
            <div class="diferencial">
                <div class="titulo-diferencial">
                  <img src="../../assets/img/1 (2).webp" alt="" loading="lazy" class="icone-diferencial">
                    <div class="escrito-titulo-diferencial">Inovação Tecnológica</div>
                </div>
                <div class="sublista-diferencial">
                    <ul class="sublista-itens">
                        <li class="sublista-item">
                            <p class="sublista-texto">Desenvolvimento ágil com tecnologias de ponta</p>
                        </li>
                        <li class="sublista-item">
                            <p class="sublista-texto">Integração contínua e entrega rápida</p>
                        </li>
                        <li class="sublista-item">
                            <p class="sublista-texto">Utilização de metodologias ágeis para resultados eficazes</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="diferencial diferencial2">
                <div class="titulo-diferencial">
                 <img src="../../assets/img/2 (1).webp" alt="" loading="lazy" class="icone-diferencial">
                    <div class="escrito-titulo-diferencial">Equipe Especializada</div>
                </div>
                <div class="sublista-diferencial">
                    <ul class="sublista-itens">
                        <li class="sublista-item">
                            <p class="sublista-texto">Profissionais experientes e qualificados</p>
                        </li>
                        <li class="sublista-item">
                            <p class="sublista-texto">Capacidade de adaptação às necessidades do cliente</p>
                        </li>
                        <li class="sublista-item">
                            <p class="sublista-texto">Formação contínua para acompanhar as tendências do mercado</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="diferencial">
                <div class="titulo-diferencial">
               <img src="../../assets/img/3 (1).webp" alt="" loading="lazy" class="icone-diferencial">
                    <div class="escrito-titulo-diferencial">Compromisso com a Qualidade</div>
                </div>
                <div class="sublista-diferencial">
                    <ul class="sublista-itens">
                        <li class="sublista-item">
                            <p class="sublista-texto">Atenção aos detalhes em cada etapa do processo</p>
                        </li>
                        <li class="sublista-item">
                            <p class="sublista-texto">Garantia de entregas dentro dos padrões de excelência</p>
                        </li>
                        <li class="sublista-item">
                            <p class="sublista-texto">Feedback constante para melhoria contínua</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="btn-acao-centro">
            <button class="btn-acao">Saiba Mais</button>
        </div>
    </div>
</section>

<app-bottom></app-bottom>